:root {
  --primary-color: #1cc0a0;
  --white-color: #fff;
  --black-color: #777;
  --text-color: #333;

  --header-middle-height: 84px;
  --header-bottom-height: 52px;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Button */
.btn {
  font-size: 1.4rem;
  color: #212529;
  font-size: 1.3rem;
  min-width: 110px;
  padding-top: 0.75rem;
  background-color: transparent;
  padding-bottom: 0.75rem;
  border: 1px solid var(--primary-color);
  outline: none;
}

.btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: none;
}

.btn.btn--primary {
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: none;
}

.btn.btn--primary:hover {
  color: #212529;
  background-color: var(--white-color);
}

.btn.btn--outline {
  padding: 1.15rem 1.5rem;
  text-transform: uppercase;
}
