.app {
  overflow: hidden;
}

/* Header top */
.header__top {
  background-color: #fafafa;
}

.header__top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-left {
  padding-left: 0;
}

.header__phone:hover {
  color: var(--primary-color);
}

.header__top-right {
  display: flex;
}

.header__social-icon {
  display: flex;
}

.header__social-item {
  padding: 0 10px;
}

.header__social-item i {
  font-size: 1.4rem;
  font-weight: 500;
  color: #777;
}

.header__social-item a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--text-color);
}

.header__top-left,
.header__top-right,
.header__social-icon {
  list-style: none;
}

.header__phone {
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
  color: var(--text-color);
}

.header__phone i {
  font-size: 1.6rem;
}

.header__login {
  margin-left: 2rem;
}

.header__login-link {
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
  color: var(--text-color);
}

.header__login-link:hover {
  color: var(--primary-color);
}

.header__login-link i {
  font-size: 1.4rem;
  padding-right: 6px;
}

.header__money {
  font-size: 1.3rem;
  font-weight: 300;
  margin-left: 2rem;
  position: relative;
  cursor: pointer;
}

.header__money:hover .header__money-list {
  display: block;
}

.header__money-icon {
  font-size: 1.3rem;
  padding-left: 4px;
}

.header__money-list {
  position: absolute;
  top: calc(100% + 10px);
  list-style: none;
  background-color: var(--white-color);
  padding: 8px 14px;
  box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
  display: none;
  animation: fadeIn linear 0.3s;
  z-index: 1;
}

.header__money-list::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  top: -20px;
  left: 0;
}

.header__money-item {
  padding: 3px 0;
}

.header__money-item:hover {
  color: var(--primary-color);
}

.header__language {
  font-size: 1.3rem;
  font-weight: 300;
  margin-left: 2rem;
  position: relative;
  cursor: pointer;
}

.header__language-icon {
  font-size: 1.3rem;
  padding-left: 4px;
}

.header__language:hover .header__language-list {
  display: block;
}

.header__language-list {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  list-style: none;
  background-color: var(--white-color);
  padding: 8px 14px;
  box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
  display: none;
  animation: fadeIn linear 0.3s;
  z-index: 1;
}

.header__language-list::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  top: -20px;
  left: 0;
}

.header__language-item {
  padding: 3px 0;
}

.header__language-item:hover {
  color: var(--primary-color);
}

/* Header middle */
.header__middle-wrap {
  display: flex;
  height: var(--header-middle-height);
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid #f4f4f4;
}

.header__search {
  display: flex;
  align-items: center;
}

.header__search-button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding-left: 0;
}

.header__search-icon {
  font-size: 2.2rem;
  color: var(--text-color);
}

.header__search-icon:hover {
  color: #c15454;
}

.header__search-input {
  font-size: 1.5rem;
  font-weight: 400;
  border: none;
  outline: none;
  color: var(--text-color);
  position: relative;
  top: -4px;
}

.header__logo-link {
  text-decoration: none;
  display: block;
  color: var(--text-color);
}

.header__logo-img {
  height: 22px;
}

.header__middle-right {
  display: flex;
}

.header__wishlist,
.header__cart {
  display: flex;
  align-items: center;
  position: relative;
}

.header__wishlist-link,
.header__cart-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__wishlist-link:hover .header__wishlist-icon,
.header__wishlist-link:hover .header__wishlist-text,
.header__cart-link:hover .header__cart-icon,
.header__cart-link:hover .header__cart-text {
  color: var(--primary-color);
}

.header__wishlist-icon,
.header__cart-icon {
  font-size: 2.2rem;
  color: var(--text-color);
  cursor: pointer;
}

.header__wishlist-text,
.header__cart-text {
  font-size: 1.3rem;
  padding-left: 1.6rem;
  color: var(--text-color);
  cursor: pointer;
}

.header__wishlist-count {
  position: absolute;
  font-size: 1.2rem;
  top: -10px;
  left: 14px;
  color: var(--white-color);
  padding: 2px 8px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.header__cart {
  margin-left: 2rem;
}

.header__cart:hover .header__cart-list {
  display: block;
}

.header__cart-count {
  position: absolute;
  font-size: 1.2rem;
  top: -10px;
  left: 18px;
  color: var(--white-color);
  padding: 2px 8px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.header__cart-list {
  position: absolute;
  top: calc(56% + (var(--header-middle-height) / 2));
  right: 0;
  width: 300px;
  padding: 22px 30px 20px 30px;
  background-color: var(--white-color);
  box-shadow: 5px 10px 16px rgb(51 51 51 / 5%),
    -5px 10px 16px rgb(51 51 51 / 5%);
  display: none;
  animation: fadeIn linear 0.3s;
  z-index: 1;
}

.header__cart-list::before {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;
  width: 100%;
  height: 40px;
}

.header__cart-no-cart-message {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.4px;
  font-weight: 300;
  color: var(--text-color);
  display: none;
}

.header__cart-list--no-cart .header__cart-no-cart-message {
  display: block;
}

.header__cart-list-item {
  padding-left: 0;
  max-height: 55vh;
  overflow-y: auto;
}

.header__cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid #ebebeb;
  padding: 1.6rem 0;
}

.header__cart-item:first-child {
  padding-top: 0;
}

.header__cart-item-info {
  flex: 1;
}

.header__cart-item-link {
  text-decoration: none;
}

.header__cart-item-name {
  color: #666;
  font-size: 1.4rem;
  line-height: 2rem;
  max-height: 4rem;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.header__cart-item-name:hover {
  color: var(--primary-color);
}

.header__cart-item-count,
.header__cart-item-price {
  color: #999;
  font-size: 1.3rem;
  font-weight: 400;
}

.header__cart-item-img {
  width: 60px;
}

.header__cart-item-remove {
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  padding-right: 0;
}

.header__cart-item-remove-button {
  font-size: 1.5rem;
  color: #999;
}

.header__cart-total {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 0.5rem;
  margin-bottom: 1.1rem;
}

.header__cart-total {
  color: #666;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.header__cart-action {
  display: flex;
  justify-content: space-between;
}

/* Header bottom */
.header__bottom-wrap {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-bottom-height);
}

/* Header mobile */
.header__mobile {
  display: none;
}
.header__bottom-mobile {
  color: #666;
  font-size: 2.8rem;
}

.home_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 25, 25, 0.25);
  z-index: 10;
  display: none;
}

.nav__input:checked ~ .home_overlay {
  display: block;
}

.nav__input:checked ~ .navbar__mobile {
  transform: translateX(0);
}

.navbar__mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  max-width: 100%;
  background-color: #333;
  transform: translateX(-100%);
  z-index: 11;
  transition: transform linear 0.3s;
}

.navbar__mobile-wrap {
  position: relative;
  padding: 4.2rem 0;
}

.navbar__mobile-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  padding: 0;
  z-index: 9;
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
}

.navbar__mobile-form {
  margin: 1rem 0 1.5rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.navbar__mobile-input {
  color: #777;
  height: 36px;
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0.8rem 1.5rem;
  outline: none;
  background-color: #333;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-right-width: 0;
  flex: 1;
}

.navbar__mobile-input:focus {
  border-color: var(--primary-color);
}

.navbar__mobile-button {
  min-width: 3.6rem;
  background-color: #1cc0a0;
  border-color: #1cc0a0;
  border: none;
  outline: none;
}

.navbar__mobile-button i {
  font-size: 1.2rem;
  padding: 1.1rem 0.2rem;
  color: #fff;
}

.navbar__moblile-list-wrap {
  padding: 0;
  margin: 0 0 2.5rem;
}

.navbar__mobile-list {
  margin: 0;
  padding: 0;
}

.navbar__mobile-item:focus a {
  color: var(--primary-color);
}

.navbar__mobile-item a i {
  float: right;
}

.navbar__mobile-item:focus .navbar__mobile-sub {
  display: block;
}

.navbar__mobile-sub {
  display: none;
}

.navbar__mobile-sub--active {
  display: none;
}

.navbar__mobile-item a {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem 4.5rem 1rem 2rem;
  color: #fff;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.08);
  text-decoration: none;
  display: block;
}

.navbar__mobile-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.navbar__mobile-socials-link {
  text-decoration: none;
  margin-bottom: 0;
  margin-right: 1rem;
  display: flex;
}

.navbar__mobile-socials-link i {
  font-size: 1.2rem;
  width: 3rem;
  height: 3rem;
  color: hsla(0, 0%, 100%, 0.45);
  border-radius: 50%;
  border: 0.1rem solid hsla(0, 0%, 100%, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__mobile-sub,
.navbar__mobile-sub-nav {
  list-style: none;
  display: none;
}

/* .navbar__mobile-sub.navbar__mobile-sub--active,
.navbar__mobile-sub-nav.navbar__mobile-sub--active {
  display: block;
} */

.header__bottom-left {
  list-style: none;
  display: flex;
  color: #222;
  letter-spacing: 0.01em;
  padding-left: 0;
  margin: 0;
  align-items: center;
}

.header__bottom-item {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.5rem 3rem 1.5rem 0;
  text-transform: uppercase;
  position: relative;
}

.header__bottom-item:hover .header__bottom-sub {
  display: block;
}

.header__bottom-item:hover .header__bottom-item-link {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.header__bottom-right {
  font-size: 1.4rem;
  font-weight: 500;
}

.header__bottom-right > span > i {
  margin-right: 10px;
  font-size: 1.6rem;
  font-weight: 500;
}

.header__bottom-item-link {
  text-decoration: none;
  color: #222;
  padding: 1.2rem 0;
  transform-origin: left center;
  transform: scale(1);
  transition: transform 0.3s ease, 
  -webkit-transform 0.3s ease;
}

.header__bottom-item--active .header__bottom-item-link,
.header__bottom-item:hover .header__bottom-item-link,
.header__bottom-item:focus .header__bottom-item-link {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.header__bottom-item-icon {
  padding-left: 1rem;
}

.header__bottom-sub {
  list-style: none;
  padding-left: 0;
  padding: 1.6rem 0 2rem;
  min-width: 218px;
  background-color: #fff;
  box-shadow: 5px 10px 16px rgb(51 51 51 / 5%),
    -5px 10px 16px rgb(51 51 51 / 5%);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  animation: fadeIn linear 0.3s;
}

.header__bottom-sub-nav {
  list-style: none;
  padding-left: 0;
  padding: 1.6rem 0 2rem;
  min-width: 218px;
  background-color: #fff;
  box-shadow: 5px 10px 16px rgb(51 51 51 / 5%),
    -5px 10px 16px rgb(51 51 51 / 5%);
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 1;
  display: none;
  animation: fadeIn linear 0.3s;
}

.header__bottom-sub-item {
  padding: 5px 40px 5px 30px;
}

.header__bottom-sub-item:hover .header__bottom-sub-nav {
  display: block;
}

.header__bottom-sub-item-link {
  text-decoration: none;
  text-transform: none;
  font-size: 1.4rem;
  font-weight: 300;
  padding-right: 4rem;
  color: #999;
  font-weight: 400;
  position: relative;
  display: block;
  z-index: 1;
}

.header__bottom-sub-item-link {
  padding-right: 0;
}

.header__bottom-sub-item-link:hover {
  color: var(--primary-color);
}

.header__bottom-sub-item-icon {
  margin-left: auto;
}

.header__bottom-sub-icon {
  float: right;
}

/* Body */
.app__container {
  margin-top: -3px;
}

.intro {
  background-color: #fafafa;
  padding-top: 3rem;
  margin-bottom: 4.5rem;
}

.banner__big,
.banner__medium,
.banner__small {
  position: relative;
  margin-bottom: 1.6rem;
}

.banner__big-img,
.banner__medium-img,
.banner__small-img {
  margin: 0;
}

.banner__big-content {
  position: absolute;
  left: 2rem;
  bottom: 4rem;
  z-index: 2;
}

.banner__big-subtitle,
.banner__medium-subtitle,
.banner__small-subtitle {
  margin: 0;
  margin-bottom: 0.8rem;
}

.banner__big-subtitle-link,
.banner__medium-subtitle-link,
.banner__small-subtitle-link {
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white-color);
}

.banner__big-title {
  margin: 0;
  margin-bottom: 0.3rem;
}

.banner__big-title-link,
.banner__medium-title-link,
.banner__small-title-link {
  color: var(--white-color);
  font-size: 2.4rem;
  line-height: 1.2em;
  text-decoration: none;
}

.banner__big-link,
.banner__medium-link,
.banner__small-link {
  color: var(--white-color);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-decoration: none;
}

.banner__big-link:hover,
.banner__medium-link:hover,
.banner__small-link:hover {
  box-shadow: none;
  -webkit-box-shadow: 0 1px 0 0 #fff;
}

.banner__medium-content {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  z-index: 2;
}

.banner__small-content {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  z-index: 2;
}

.banner__small-content.banner__small-content-right {
  text-align: right;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  z-index: 2;
}

.banner__big-img img,
.banner__medium-img img,
.banner__small-img img {
  width: 100%;
}

.banner__overlay {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  animation: fadeIn linear 0.3s;
  display: none;
}

.banner__big:hover .banner__overlay,
.banner__medium:hover .banner__overlay,
.banner__small:hover .banner__overlay {
  display: block;
}

.icon-box {
  height: 97px;
  padding: 3px 0 16px 0;
  display: flex;
  align-items: center;
}

.icon-box__icon i {
  min-width: 5.4rem;
  color: #333;
  font-size: 3rem;
}

.icon-box__title {
  color: #333;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: -0.01em;
  margin: 0.2rem 0 0 0;
}

.icon-box__sub-title {
  color: #777;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0.4rem 0 0 0;
}

/* Product */

.home__product {
  display: block;
}

.home__product-title {
  text-align: center;
  font-weight: 700;
  font-size: 2.2rem;
  margin: 0 0 2.8rem 0;
}

.product {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: var(--white-color);
  margin-bottom: 1rem;
}

.product:hover .product__action-vertical {
  -webkit-transform: translate(0);
  transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.product:hover .product__action,
.product:focus .product__action {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.product:hover .product__image-hover {
  opacity: 1;
}

.product__media {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  display: block;
  margin: 0;
}

.product__media .product__label {
  z-index: 3;
}

.product__label {
  position: absolute;
  z-index: 2;
  top: 2rem;
  left: 2rem;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: -0.01em;
  padding: 0.5rem 0.9rem;
  min-width: 45px;
  text-align: center;
  color: #333;
  background-color: var(--white-color);
}

.product__label + .product__label {
  top: 5rem;
}

.product__label + .product__label + .product__label {
  top: 8rem;
}

.product__label + .product__label + .product__label + .product__label {
  top: 11rem;
}

.product__label.product__label--new {
  color: #fff;
  background-color: #a6c76c;
}

.product__label.product__label--sale {
  color: #fff;
  background-color: #ef837b;
}

.product__label.product__label--top {
  color: #fff;
  background-color: #7dd2ea;
}

.product__label.product__label--out {
  color: #fff;
  background-color: #ccc;
}

.product__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product__image-hover {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: auto;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.product__link {
  text-decoration: none;
  display: block;
}

.product__action-vertical {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2rem;
  top: 2rem;
  background-color: transparent;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-transform: translateX(-15px);
  transform: translateX(-15px);
}

.product__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.4rem;
  line-height: 1rem;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
}

.product__icon:not(:hover):not(:focus) {
  color: #333;
}

.product__icon:hover,
.product__icon:focus {
  color: #fff;
  background-color: var(--primary-color);
}

.product__icon + .product__icon {
  margin-top: 1rem;
}

.product__icon-wishlist {
  font-size: 1.6rem;
  text-decoration: none;
}

.product__icon-quickview {
  font-size: 1.6rem;
  text-decoration: none;
}

.product__icon--expand {
  position: relative;
}

.product__icon--expand span {
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  line-height: 3rem;
  align-items: center;
  display: flex;
  font-weight: 300;
  font-size: 1.1rem;
  min-width: 100px;
  padding-left: 1.8rem;
  padding-right: 0.4rem;
  color: #fff;
  background-color: var(--primary-color);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  visibility: hidden;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  -webkit-transform: translateX(15px);
  transform: translateX(15px);
  z-index: -1;
}

.product__icon--expand:hover span,
.product__icon--expand:focus span {
  color: var(--white-color);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: var(--primary-color);
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(2px);
  transform: translateX(12px);
}

.product__action {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.95);
  z-index: 10;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.product__cart {
  font-size: 1.4rem;
  color: #333;
  background-color: rgba(255, 255, 255, 0.09);
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.product__cart:hover,
.product__cart:focus {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.product__body {
  position: relative;
  padding: 1.6rem 0 2rem 0;
}

.product__cat {
  margin-bottom: 0.3rem;
  overflow: hidden;
  color: #ccc;
}

.product__cat-link {
  color: #777;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
}

.product__title {
  margin: 0 0 1rem 0;
}

.product__title-link {
  color: #333;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-decoration: none;
}

.product__title-link:hover {
  color: var(--primary-color);
}

.product__price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #c96;
  font-size: 1.4rem;
}

.product__price-new {
  color: #ef837b;
  font-weight: 500;
  margin-right: 0.8rem;
  display: block;
}

.product__price-old {
  color: #ccc;
  margin-top: 0.3rem;
  display: block;
  text-decoration: line-through;
}

/* Product tab */
.product__tabs {
  text-align: center;
}

#product__tabs-new,
#product__tabs-featured,
#product__tabs-best-seller {
  display: none;
}

#product__tabs-new ~ .product__tab,
#product__tabs-featured ~ .product__tab,
#product__tabs-best-seller ~ .product__tab {
  display: none;
}

#product__tabs-new:checked ~ .product__tab.product__tab-new,
#product__tabs-featured:checked ~ .product__tab.product__tab-featured,
#product__tabs-best-seller:checked ~ .product__tab.product__tab-best-seller {
  display: block;
}

#product__tabs-new + label,
#product__tabs-featured + label,
#product__tabs-best-seller + label {
  color: #333;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 10px 12px;
  margin-bottom: 3rem;
  position: relative;
  top: 1px;
}

#product__tabs-new:checked + label,
#product__tabs-featured:checked + label,
#product__tabs-best-seller:checked + label {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}

#product__tabs-new ~ .product__tab,
#product__tabs-featured ~ .product__tab,
#product__tabs-best-seller ~ .product__tab {
  padding-top: 3rem;
  text-align: left;
}

/* Home Subscribe */
.home__subscribe {
  text-align: center;
  margin-bottom: 6.5rem;
  padding: 4rem 0 5rem 0;
  background-image: url("https://d-themes.com/react/molla/demo-17/images/home/bg-1.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.subscribe__info-title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2rem;
  margin: 1rem 0 0.7rem 0;
}

.subscribe__info-sub-title {
  color: var(--white-color);
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.subscribe__form {
  display: flex;
  justify-content: space-between;
}

.subscribe__form-input {
  padding: 0.85rem 2rem;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
  outline: none;
  border: none;
  padding-top: 1.15rem;
  padding-bottom: 1.15rem;
  background: #fff;
  flex: 1;
}

.subscribe__form-button {
  color: #fff;
  background-color: #19b395;
  border-color: #19b395;
  min-width: 140px;
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.subscribe__form-button span {
  text-transform: uppercase;
  font-weight: 500;
}

/* Home Posts */
.home__posts-info {
  text-align: center;
}

.home__posts-title {
  margin: 0 0 0.8rem 0;
  font-weight: 700;
  font-size: 2.2rem;
}

.home__posts-desc {
  color: #777;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
}

.home__post-image {
  position: relative;
  margin: 0 0 1.6rem 0;
  width: 100%;
  object-fit: contain;
}

.home__post-image::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.35s ease;
}

.home__post:hover .home__post-image::before {
  background-color: rgba(51, 51, 51, 0.3);
}

.home__post-link {
  display: block;
  text-decoration: none;
}

.home__post-image-thumb {
  width: 100%;
}

.home__post-meta {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.home__post-date {
  color: #777;
  font-weight: 400;
  text-decoration: none;
}

/* .home__post-separator {
  margin-left: 1.1rem;
  margin-right: 1.1rem;
  display: block;
} */

.home__post-comment {
  color: #777;
  font-weight: 400;
  text-decoration: none;
}

.home__post-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0 0 0.1rem 0;
}

.home__post-title a {
  line-height: 2rem;
  color: #333;
  text-decoration: none;
}

.home__post-date:hover,
.home__post-comment:hover,
.home__post-title:hover a {
  color: var(--primary-color);
}

.home__post-action {
  margin-top: 5px;
}

.home__post-read-more {
  color: #777;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.6rem;
  text-decoration: none;
  line-height: 2rem;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home__post-action i {
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -0.8rem;
  display: none;
  transform: translateX(-6px);
  transition: all 0.25s ease 0s;
}

.home__post-read-more:focus,
.home__post-read-more:hover {
  color: var(--primary-color);
  padding-bottom: 0.5rem;
  padding-right: 2.2rem;
  border-bottom: 1px solid var(--primary-color);
}

.home__post-read-more:focus i,
.home__post-read-more:hover i {
  color: var(--primary-color);
  display: block;
  transform: translateX(0);
}

.home__posts-more {
  text-align: center;
  margin: 5rem 0 5.5rem 0;
}

.home__posts-more .btn--outline {
  border-color: #ebebeb;
  text-decoration: none;
}

/* Footer */
.footer {
  width: 100%;
  font-weight: 300;
  font-size: 1.4rem;
  color: #777;
  background-color: #222;
}

.footer__top {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.footer__logo {
  width: 82px;
  margin-bottom: 2rem;
  margin-top: 0;
}

.footer__about-desc {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 400px;
  margin: 0 0 3.2rem 0;
}

.footer__about-title {
  display: block;
  font-weight: 500;
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 0.8rem;
}

.footer__about-phone {
  color: var(--primary-color);
  font-size: 2rem;
  text-decoration: none;
  font-weight: 700;
}

.footer__title {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #fff;
  font-weight: 600;
  margin: 0 0 2rem 0;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__item {
  margin-bottom: 0.6rem;
}

.footer__item a {
  font-size: 1.5rem;
  color: #777;
  text-decoration: none;
  font-weight: 500px;
  line-height: 2rem;
}

.footer__item:hover a {
  color: var(--primary-color);
}

.footer__bottom {
  padding: 1rem 0;
}

.footer__bottom-wrap {
  width: 100%;
  display: flex;
}

.footer__line {
  height: 1px;
  width: 100%;
  background-color: #444;
}

.footer__term,
.footer__socials {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__term {
  margin-left: 0.6rem;
}

.footer__bottom-left,
.footer__bottom-right {
  display: flex !important;
  align-items: center;
}

.footer__label {
  font-size: 1.4rem;
  font-weight: 500;
}

.footer__term-item {
  position: relative;
}

.footer__term-item a {
  font-size: 1.5rem;
  font-weight: 500;
  color: #777;
  text-decoration: none;
  padding-bottom: 0.5rem;
  box-shadow: 0 1px 0 #b5b5b5;
}

.footer__term li + li {
  margin-left: 2.1rem;
}

.footer__term-item:first-child::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 1.2rem;
  position: absolute;
  right: -1.1rem;
  top: 50%;
  margin-top: -0.6rem;
  background-color: #b5b5b5;
}

.footer__bottom-right {
  justify-content: flex-end;
}

.footer__socials-item:not(:last-child) {
  margin-right: 2rem;
}

.footer__socials-item:first-child {
  margin-left: 2rem;
}

.footer__socials-item a {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--white-color);
}

/* Product page */
.product__breadcrumb {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.breadcrumb__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 1rem 0 1rem 0;
  align-items: center;
}

.breadcrumb__item a {
  color: #777;
  padding-left: 1rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5rem;
  text-transform: capitalize;
  text-decoration: none;
}

.breadcrumb__item i {
  padding-left: 1rem;
}

.product__page {
}

.product__page-media {
}

.product__page-media-list {
}

.product__page-media-item {
  position: relative;
  display: block;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.product__page-media-item.product__page-media-item--active {
  border: 1px solid var(--primary-color);
}

.product__page-media-item img {
  max-width: none;
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
  background-color: #f4f4f4;
}

.product__page-media-big {
  position: relative;
  margin: 0;
}

.product__page-media-big img {
  width: 100%;
}

.product__page-title {
  font-weight: 500;
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: 1.2rem;
  padding-right: 1rem;
}

.product__page-ratings {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  margin-bottom: 1.7rem;
}

.product__page-ratings-wrap i {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  line-height: 1.6rem;
  color: #fcb941;
}

.product__page-ratings-text {
  color: #ccc;
  letter-spacing: -0.01em;
  margin-left: 0.8rem;
  line-height: 1.6rem;
}

.product__page-price {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  font-weight: 500;
  font-size: 2.4rem;
  margin-bottom: 1.3rem;
}

.product__page-price span {
  color: var(--primary-color);
}

.product__page-price-new {
}

.product__page-price-old {
}

.product__page-content-short {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: #777;
  margin-bottom: 1.6rem;
}

.product__page-filter {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 1rem;
}

.product__page-filter label {
  display: inline-block;
  width: 67px;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 0;
}

.product__page-colors {
}

.product__page-colors-dots {
  display: flex;
  align-items: center;
}

.product__page-color-yellow {
  width: 2rem;
  height: 2rem;
  background-color: rgb(234, 188, 78);
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  border: 0.2rem solid #fff;
  margin-right: 0.9rem;
}

.product__page-color-blue {
  width: 2rem;
  height: 2rem;
  background-color: rgb(51, 51, 51);
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  border: 0.2rem solid #fff;
  margin-right: 0.9rem;
}

.product__page-sizes {
}

.product__page-qty {
}

.product__page-actions {
}

.product__page-categories {
}

.product__page-socials {
}
