/* Header top */
.header__top {
  background-color: #fafafa;
}

.header__top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-left {
  padding-left: 0;
}

.header__phone:hover {
  color: var(--primary-color);
}

.header__top-right {
  display: flex;
}

.header__social-icon {
  display: flex;
}

.header__social-item {
  padding: 0 10px;
}

.header__social-item a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--text-color);
}

.header__top-left,
.header__top-right,
.header__social-icon {
  list-style: none;
}

.header__phone {
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
  color: var(--text-color);
}

.header__login {
  margin-left: 2rem;
}

.header__login-link {
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
  color: var(--text-color);
}

.header__login-link:hover {
  color: var(--primary-color);
}

.header__login-link i {
  padding-right: 10px;
}

.header__money {
  font-size: 1.3rem;
  font-weight: 300;
  margin-left: 2rem;
  position: relative;
  cursor: pointer;
}

.header__money:hover .header__money-list {
  display: block;
}

.header__money-icon {
  font-size: 1.3rem;
  padding-left: 4px;
}

.header__money-list {
  position: absolute;
  top: calc(100% + 10px);
  list-style: none;
  background-color: var(--white-color);
  padding: 8px 14px;
  box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
  display: none;
  animation: fadeIn linear 0.3s;
  z-index: 1;
}

.header__money-list::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  top: -20px;
  left: 0;
}

.header__money-item {
  padding: 3px 0;
}

.header__money-item:hover {
  color: var(--primary-color);
}

.header__language {
  font-size: 1.3rem;
  font-weight: 300;
  margin-left: 2rem;
  position: relative;
  cursor: pointer;
}

.header__language-icon {
  font-size: 1.3rem;
  padding-left: 4px;
}

.header__language:hover .header__language-list {
  display: block;
}

.header__language-list {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  list-style: none;
  background-color: var(--white-color);
  padding: 8px 14px;
  box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
  display: none;
  animation: fadeIn linear 0.3s;
  z-index: 1;
}

.header__language-list::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  top: -20px;
  left: 0;
}

.header__language-item {
  padding: 3px 0;
}

.header__language-item:hover {
  color: var(--primary-color);
}

/* Header middle */
.header__middle-wrap {
  display: flex;
  height: var(--header-middle-height);
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid #f4f4f4;
}

.header__middle-left {
}

.header__search {
  display: flex;
  align-items: center;
}

.header__search-button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding-left: 0;
}

.header__search-icon {
  font-size: 2.2rem;
  color: var(--text-color);
}

.header__search-icon:hover {
  color: #c15454;
}

.header__search-input {
  font-size: 1.5rem;
  font-weight: 400;
  border: none;
  outline: none;
  color: var(--text-color);
  position: relative;
  top: -4px;
}

.header__middle-center {
}

.header__logo {
}

.header__logo-link {
  text-decoration: none;
  display: block;
  color: var(--text-color);
}

.header__logo-img {
  height: 22px;
}

.header__middle-right {
  display: flex;
}

.header__wishlist,
.header__cart {
  display: flex;
  align-items: center;
  position: relative;
}

.header__wishlist-link,
.header__cart-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__wishlist-link:hover .header__wishlist-icon,
.header__wishlist-link:hover .header__wishlist-text,
.header__cart-link:hover .header__cart-icon,
.header__cart-link:hover .header__cart-text {
  color: var(--primary-color);
}

.header__wishlist-icon,
.header__cart-icon {
  font-size: 2.2rem;
  color: var(--text-color);
  cursor: pointer;
}

.header__wishlist-text,
.header__cart-text {
  font-size: 1.3rem;
  padding-left: 1.6rem;
  color: var(--text-color);
  cursor: pointer;
}

.header__wishlist-count {
  position: absolute;
  font-size: 1.2rem;
  top: -10px;
  left: 14px;
  color: var(--white-color);
  padding: 2px 8px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.header__cart {
  margin-left: 2rem;
}

.header__cart:hover .header__cart-list {
  display: block;
}

.header__cart-count {
  position: absolute;
  font-size: 1.2rem;
  top: -10px;
  left: 18px;
  color: var(--white-color);
  padding: 2px 8px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.header__cart-list {
  position: absolute;
  top: calc(56% + (var(--header-middle-height) / 2));
  right: 0;
  width: 300px;
  padding: 22px 30px 20px 30px;
  background-color: var(--white-color);
  box-shadow: 5px 10px 16px rgb(51 51 51 / 5%),
    -5px 10px 16px rgb(51 51 51 / 5%);
  display: none;
  animation: fadeIn linear 0.3s;
  z-index: 1;
}

.header__cart-list::before {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;
  width: 100%;
  height: 40px;
}

.header__cart-no-cart-message {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.4px;
  font-weight: 300;
  color: var(--text-color);
  display: none;
}

.header__cart-list--no-cart .header__cart-no-cart-message {
  display: block;
}

.header__cart-list-item {
  padding-left: 0;
  max-height: 55vh;
  overflow-y: auto;
}

.header__cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid #ebebeb;
  padding: 1.6rem 0;
}

.header__cart-item:first-child {
  padding-top: 0;
}

.header__cart-item-info {
  flex: 1;
}

.header__cart-item-link {
  text-decoration: none;
}

.header__cart-item-name {
  color: #666;
  font-size: 1.4rem;
  line-height: 2rem;
  max-height: 4rem;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.header__cart-item-name:hover {
  color: var(--primary-color);
}

.header__cart-item-count,
.header__cart-item-price {
  color: #999;
  font-size: 1.3rem;
  font-weight: 400;
}

.header__cart-item-img {
  width: 60px;
}

.header__cart-item-remove {
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  padding-right: 0;
}

.header__cart-item-remove-button {
  font-size: 1.2rem;
  color: #999;
}

.header__cart-total {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 0.5rem;
  margin-bottom: 1.1rem;
}

.header__cart-total {
  color: #666;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.header__cart-action {
  display: flex;
  justify-content: space-between;
}
